			<div class="b-footer-info">
				<div class="b-footer-menu">
					<h1 class="b-footer-menu__header">МЕНЮ</h1>
					
					<ul class="b-footer-menu__items-level-0">				
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:index' %}" class="b-footer-menu__link">ГЛАВНАЯ</a></li>
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:articles' %}" class="b-footer-menu__link">СТАТЬИ</a></li>
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:news' %}" class="b-footer-menu__link">НОВОСТИ</a></li>
						<li class="b-footer-menu__item-level-0">
							<a href="#" class="b-footer-menu__link">ПОРТФОЛИО</a>
							<ul class="b-footer-menu__items-level-1">
								<li class="b-footer-menu__item-level-1">
									<a href="#" class="b-footer-menu__link">О НАС</a>
									<ul class="b-footer-menu__items-level-2">
										<li class="b-footer-menu__item-level-2"><a href="#" class="b-footer-menu__link">РУКОВОДСТВО</a></li>
										<li class="b-footer-menu__item-level-2"><a href="{% url 'articles:authors' %}" class="b-footer-menu__link">АВТОРЫ</a></li>
									</ul>
								</li>
								<li class="b-footer-menu__item-level-1"><a href="{% url 'articles:journals' %}" class="b-footer-menu__link">ЖУРНАЛ «ИРКУТСКИЕ КУЛУАРЫ»</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">ВИДЕОПРОДУКЦИЯ</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">ПОЛИГРАФИЯ</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">РАБОТА НА ВЫБОРАХ</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
				
				<div class="b-footer-published">
					<h1 class="b-footer-published__header">ПОИСК ПУБЛИКАЦИЙ ПО ДАТЕ</h1>
				</div>
				
				<div class="b-footer-help">
					<h1 class="b-footer-help__header">ПОМОЩЬ</h1>
					<ul class="b-footer-help__items">				
						<li class="b-footer-help__item"><a href="{% url 'articles:search' %}" class="b-footer-help__link">ПОИСК</a></li>
						<li class="b-footer-help__item"><a href="{% url 'articles:tags' %}" class="b-footer-help__link">ТЕГИ</a></li>
						<li class="b-footer-help__item"><a href="#" class="b-footer-help__link">КОНТАКТЫ</a></li>
					</ul>
					<div class="b-footer-social">
						<h1 class="b-footer-social__header">ПОДПИСЫВАЙТЕСЬ НА НАС В СОЦСЕТЯХ:</h1>
						<ul class="b-footer-social__items">				
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__fb"></a></li>
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__vk"></a></li>
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__ok"></a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="b-footer-copyright">
				<div class="b-footer-copyright-text">Студия политической рекламы: +7(3952) 651-900, irk-kuluary@yandex.ru</div>
			</div>