  			<div class="b-footer-info">
				<div class="b-footer-menu">
					<h1 class="b-footer-menu__header">МЕНЮ</h1>
					
					<ul class="b-footer-menu__items-level-0">				
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:index' %}" class="b-footer-menu__link">ГЛАВНАЯ</a></li>
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:articles' %}" class="b-footer-menu__link">СТАТЬИ</a></li>
						<li class="b-footer-menu__item-level-0"><a href="{% url 'articles:news' %}" class="b-footer-menu__link">НОВОСТИ</a></li>
						<li class="b-footer-menu__item-level-0">
							<a href="#" class="b-footer-menu__link">ПОРТФОЛИО</a>
							<ul class="b-footer-menu__items-level-1">
								<li class="b-footer-menu__item-level-1">
									<a href="#" class="b-footer-menu__link">О НАС</a>
									<ul class="b-footer-menu__items-level-2">
										<li class="b-footer-menu__item-level-2"><a href="#" class="b-footer-menu__link">РУКОВОДСТВО</a></li>
										<li class="b-footer-menu__item-level-2"><a href="{% url 'articles:authors' %}" class="b-footer-menu__link">АВТОРЫ</a></li>
									</ul>
								</li>
								<li class="b-footer-menu__item-level-1"><a href="{% url 'articles:journals' %}" class="b-footer-menu__link">ЖУРНАЛ «ИРКУТСКИЕ КУЛУАРЫ»</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">ВИДЕОПРОДУКЦИЯ</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">ПОЛИГРАФИЯ</a></li>
								<li class="b-footer-menu__item-level-1"><a href="#" class="b-footer-menu__link">РАБОТА НА ВЫБОРАХ</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
				
				<div class="b-footer-published">
					<h1 class="b-footer-published__header"><span class="b-footer-published__header-position">ПОИСК ПУБЛИКАЦИЙ ПО ДАТЕ</span></h1>
					<div class="calendar">
						<div class="calendar__header">

							<select name="calendar__month" class="calendar__month">
								{% for key, value in calendar_articles.months.items %}
									<option value="{{ key }}"{% if key == calendar_articles.select_month %} selected=""{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>

							<select name="calendar__year" class="calendar__year">
								{% for value in calendar_articles.years %}
									<option value="{{ value }}"{% if value == calendar_articles.select_year %} selected=""{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>

						</div>
						<div class="calendar__body">
							<ul class="calendar__body-days">
								<li class="calendar__body-days-item">ПН</li>
								<li class="calendar__body-days-item">ВТ</li>
								<li class="calendar__body-days-item">СР</li>
								<li class="calendar__body-days-item">ЧТ</li>
								<li class="calendar__body-days-item">ПТ</li>
								<li class="calendar__body-days-item">СБ</li>
								<li class="calendar__body-days-item">ВС</li>
							</ul>
							<ul class="calendar__body-dates">
								{% for day in calendar_articles.days %}
									{% if day.day != 0 %}
										<li class='calendar__body-dates-item{% if day.now == True %} calendar__body-dates-item--active{% endif %}{% if day.count != 0 %} calendar__body-dates-item--circle{% endif %}'>
										{{ day.day }}
										{% if day.count != 0 %}
											<div class="calendar__body-dates-tooltip">
												<div class="calendar__body-dates-tooltip-count">{{ day.count }}</div>
												<div class="calendar__body-dates-tooltip-content">
													{% if day.articles|length > 0 %}
														<div class="calendar__body-dates-tooltip-content-header">Статьи:</div>
														{% for article in day.articles %}
															<a class="calendar__body-dates-tooltip-content-link" href="{% url 'articles:article' article.slug %}">{{ article.title }}</a>
														{% endfor %}
													{% endif %}
													{% if day.news|length > 0 %}
														<div class="calendar__body-dates-tooltip-content-header">Новости:</div>
														{% for new in day.news %}
															<a class="calendar__body-dates-tooltip-content-link" href="{% url 'articles:new' new.slug %}">{{ new.title }}</a>
														{% endfor %}
													{% endif %}
												</div>
											</div>
										{% endif %}
										</li>
									{% else %}
										<li class="calendar__body-dates-item"></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				
				<div class="b-footer-help">
					<h1 class="b-footer-help__header">ПОМОЩЬ</h1>
					<ul class="b-footer-help__items">				
						<li class="b-footer-help__item"><a href="{% url 'articles:search' %}" class="b-footer-help__link">ПОИСК</a></li>
						<li class="b-footer-help__item"><a href="{% url 'articles:tags' %}" class="b-footer-help__link">ТЕГИ</a></li>
						<li class="b-footer-help__item"><a href="#" class="b-footer-help__link">КОНТАКТЫ</a></li>
					</ul>
					<div class="b-footer-social">
						<h1 class="b-footer-social__header">ПОДПИСЫВАЙТЕСЬ НА НАС В СОЦСЕТЯХ:</h1>
						<ul class="b-footer-social__items">				
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__fb"></a></li>
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__vk"></a></li>
							<li class="b-footer-social__item"><a href="#" class="b-footer-social__ok"></a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="b-footer-copyright">
				<div class="b-footer-copyright-text">Студия политической рекламы: +7(3952) 651-900, irk-kuluary@yandex.ru</div>
			</div>
			
	<script>

			function check_date() {
				$.ajax({
					url: "/ajax/calendar-articles/01/" + $('.calendar__month').val() + '/' + $('.calendar__year').val(),
					context: document.body,
					success: function(html){
						$(".calendar__body-dates").html(html)
					}
				});   
			}
			
			$('.calendar__month').change(function () {
				check_date()
			})
			
			$('.calendar__year').change(function () {
				check_date()
			})
	</script>