{% extends "page_journals.html" %}
{% load pluralize %}

{% block quote %}
	<div class="b-sub-page-quote">
		<div class="b-sub-page-quote__content">– Сегодня много желающих пройти в депутаты городской Думы по нашему 31-ому избирательному округу. Но я буду голосовать только за!<br>Можно долго перечислять причины такого решения.</div>
		<div class="b-sub-page-quote__author">– ред.</div>
	</div>
{% endblock quote %}

{% block article %}
	{% if article != None %}
		<h2 class="b-sub-page-article-content__header">{{ article.title }}</h2>
		<div class="b-sub-page-article-content__info">
			<div class="b-sub-page-article-content__info-date">{{ article.created|date:"d E H:i" }}</div>
			<div class="b-sub-page-article-content__info-views">{{ article.views }}</div>
			{% if article.author != None %}
				<div class="b-sub-page-article-content__info-author">{{ article.author.name }} {{ article.author.surname }}</div>
			{% endif %}
		</div> 
		<div class="b-sub-page-article-content__image-wrap">
			<img src="{{ article.image.url }}" class="b-sub-page-article-content__image" alt="{{ article.title }}">
		</div>
		<div class="b-sub-page-article-content__image-signature">{{ article.image_signature }}</div>
		<div class="b-sub-page-article-content__text">{{ article.fulltext|safe }}</div>
		<ul class="b-sub-page-tag-cloud">
			{% for tag in article.tags.all %}
				<li class="b-sub-page-tag-cloud__item"><a href="{% url 'articles:tag' tag.slug %}" class="b-sub-page-tag-cloud__link">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock article %}

{% block comments %}
	{% if article != None %}
		<a class="b-sub-page-article-content__button" data-fancybox data-src="#comment-add" href="javascript:;">КОММЕНТИРОВАТЬ</a>
		{% for comment in comments %}  
			{% with comments.count as total_comments %}  
				{% if forloop.counter == 1 %}
					<h2 class="comment-header">  
						{{ total_comments }} Коментари{{ total_comments|rupluralize:"й,я,ев" }}: 
					</h2>  
				{% endif %}
			{% endwith %}
			<div class="comment" id="commnet-{{ comment.id }}">  
				<div class="comment__number">{{ forloop.counter }}</div><div class="comment__name">{{ comment.name }}</div><div class="comment__created">({{ comment.created|date:"d.m.Y H:i" }})</div> 
				<div class="clearfix"></div>
				<div class="comment__content">{{ comment.content|linebreaks }} </div>
			</div>  
		{% empty %}  
			<h2 class="comment-header">  
				Еще нет комментариев.
			</h2>
		{% endfor %}
	{% endif %}
{% endblock comments %}

{% block comment_add %}
	<div class="modal" id="comment-add">
		{% if new_comment %}  
			<h3 class="modal-header">Ваш комментарий добавлен!</h3>  
		{% else %}  
			<h3 class="modal-header">Новый комментарий</h3>  
			<form action="." method="post">  
				{{ comment_form.as_p }}  
				{% csrf_token %}  
				<button>Добавить комментарий</button>
			</form>
		{% endif %}
	</div>
{% endblock comment_add %}

{% block earlier %}
	{% if earlier|first != None %}  
		<h2 class="b-sub-page-earlier-topics__header">Ранее на эту тему:</h2> 
		<ul class="b-sub-page-earlier-topics__list">
			{% for article in earlier %}
				{% if article.category == 'article' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:article' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
				
				{% if article.category == 'news' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:new' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
			{% empty %}
			{% endfor %}
		</ul>
	{% endif %}
{% endblock earlier %}

{% block journal %}
	{% if journal != None %} 
		<div class="b-sub-page-journal">
			<div class="b-sub-page-journal__number">№{{ journal.number }} ({{ journal.index }})</div>
			<div class="b-sub-page-journal__header">{{ journal.title }}</div>					
			<div class="b-sub-page-journal__image-wrap">
				<img src="{{ journal.image.url }}" alt="{{ journal.title }}" class="b-sub-page-journal__image">
			</div>
			<a class="b-sub-page-journal__button" target="_blank" href="{{ journal.pdf.url }}">СКАЧАТЬ PDF</a>
			<div class="b-sub-page-journal__content">Содержание</div>
			<ul class="b-sub-page-journal__articles-list">
				{% for item in articles %}
					<li class="b-sub-page-journal__articles-item{% if item == article %} b-sub-page-journal__articles-item--active{% endif %}"><a href="{% url 'articles:journal_article' journal.slug item.slug %}" class="b-sub-page-journal__articles-link{% if item == article %} b-sub-page-journal__articles-link--active{% endif %}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock journal %}

{% block journals %}
	<h2 class="b-sub-page-journals__year">{{ journal.year }}</h2>
	<ul class="b-sub-page-journals__list">
		{% for item in journals %}
			<li class="b-sub-page-journals__item">
				<a href="{% url 'articles:journal' item.slug %}" class="b-sub-page-journals__link">
					<img src="{{ journal.image.url }}" alt="{{ journal.title }}" class="b-sub-page-journals__image{% if item == journal %} b-sub-page-journals__image--active{% endif %}">
				</a>
			</li>
		{% endfor %}
	</ul>
	<a class="b-sub-page-journals__button b-sub-page-journals__button--left">ПРЕДЫДУЩИЙ ГОД</a>
	<a class="b-sub-page-journals__button b-sub-page-journals__button--right">СЛЕДУЮЩИЙ ГОД</a>
{% endblock journals %}

{% block best-week-articles %}
	<div class="b-footer-week">
		<h1 class="b-footer-week__header"><span class="b-footer-week__header-text">ПОПУЛЯРНОЕ ЗА НЕДЕЛЮ</span></h1>
		<ul class="b-footer-week__articles">
			{% for article in best_week_articles %}
				<li class="b-footer-week__article">
					{% if article.category == 'article' %}
						<a href="{% url 'articles:article' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					{% if article.category == 'news' %}
						<a href="{% url 'articles:new' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					</a>
				</li>
			{% empty %}
				<li class="b-footer-week__article">Пока нет статей</li>
			{% endfor %}
		</ul>
	</div>
{% endblock best-week-articles %}

{% block random-author %}
	{% if random_author != None %}
		<div class="b-footer-author">
			<h1 class="b-footer-author__header"><span class="b-footer-author__header-text">АВТОРЫ</span></h1>
			<a href="{% url 'articles:author' random_author.slug %}" class="b-footer-author__link">
				<img src="{{ random_author.image.url }}" alt="{{ random_author }}" class="b-footer-author__image">
				<div class="b-footer-author__text">{{ random_author.name }}<br>{{ random_author.surname|upper }}</div>
			</a>
		</div>
	{% endif %}
{% endblock random-author %}

{% block last-comments %}
	<div class="b-footer-comments">
		<h1 class="b-footer-comments__header"><span class="b-footer-comments__header-text">ПОСЛЕДНИЕ КОММЕНТАРИИ </span></h1>
		<ul class="b-footer-comments__articles">
			{% for comment in last_comments %}
				<li class="b-footer-comments__article">
					{% if comment.article.category == 'article' %}
						<a href="{% url 'articles:article' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
					{% if comment.article.category == 'news' %}
						<a href="{% url 'articles:new' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
						{{ comment.article.title_short }}
						<span class="b-footer-comments__comment" title="{{ comment.content }}"><span class="b-footer-comments__comment-text">{{ comment.content_short }}</span></span>
					</a>
				</li>
			{% empty %}
				<li class="b-footer-comments__article"></li>
			{% endfor %}		
		</ul>
	</div>
{% endblock last-comments %}

{% block random_authors %}
	<div class="b-author">
		<h1 class="b-author__header"><span class="b-author__header-text">АВТОРЫ</span></h1>
		<div class="b-author-wrap">
			{% for author in random_authors %}
				<a href="{% url 'articles:author' author.slug %}" class="b-author__link">
					<div class="b-author__image-wrap"><img src="{{ author.image.url }}" alt="{{ author }}" class="b-author__image"></div>
					<div class="b-author__text">{{ author.name }}<br>{{ author.surname|upper }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock random_authors %}