{% extends "page_author.html" %}
{% load pluralize %}

{% block articles %}
	<div class="b-articles">
		{% for article in articles %}
			<a href="{% url 'articles:article' article.slug %}" class="b-article b-article--i2">
				<div class="b-article__image-wrap-300"><img src="{{ article.image.url }}" class="b-article__image" alt="{{ article.title }}"></div>
				<h2 class="b-article__header">{{ article.title }}</h2>
				<div class="b-article__info">
					<div class="b-article__date">{{ article.created|date:"d E H:i" }}</div>
					<div class="b-article__views">{{ article.views }}</div>
					<div class="b-article__author">Автор: {{ article.author.name }} {{ article.author.surname }}</div>
				</div>
				<div class="b-article__text">{{ article.fulltext|no_image|truncatewords_html:20|safe }}</div>
			</a>
		{% endfor %}
	</div>
{% endblock articles %}

{% block author %}
		<div class="b-sub-page-article-author">
			<h3 class="b-sub-page-article-author__header">Автор</h3>
								
			<div class="b-sub-page-article-author__image-wrap">
				<img src="{{ author.image.url }}" alt="{{ author }}" class="b-sub-page-article-author__image">
			</div>
			<div class="b-sub-page-article-author__image-signature">{{ author.name }}<br>{{ author.surname|upper }}</div>

		</div>
{% endblock author %}

{% block random_authors %}
	<div class="b-author">
		<h1 class="b-author__header"><span class="b-author__header-text">АВТОРЫ</span></h1>
		<div class="b-author-wrap">
			{% for author in random_authors %}
				<a href="{% url 'articles:author' author.slug %}" class="b-author__link">
					<div class="b-author__image-wrap"><img src="{{ author.image.url }}" alt="{{ author }}" class="b-author__image"></div>
					<div class="b-author__text">{{ author.name }}<br>{{ author.surname|upper }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock random_authors %}