{% extends "page_articles.html" %}
{% load pluralize %}

{% block article %}
	{% if article != None %}
		<h2 class="b-sub-page-article-content__header">{{ article.title }}</h2>
		<div class="b-sub-page-article-content__info">
			<div class="b-sub-page-article-content__info-date">{{ article.created|date:"d E H:i" }}</div>
			<div class="b-sub-page-article-content__info-views">{{ article.views }}</div>
			{% if article.author != None %}
				<div class="b-sub-page-article-content__info-author">{{ article.author.name }} {{ article.author.surname }}</div>
			{% endif %}
		</div> 
		<div class="b-sub-page-article-content__image-wrap">
			<img src="{{ article.image.url }}" class="b-sub-page-article-content__image" alt="{{ article.title }}">
		</div>
		<div class="b-sub-page-article-content__image-signature">{{ article.image_signature }}</div>
		<div class="b-sub-page-article-content__text b-sub-page-article-content__text--gradient">{{ article.fulltext|safe }}</div>
		<a href="{% url 'articles:article' article.slug %}" class="b-sub-page-article-content__button">ЧИТАТЬ ДАЛЕЕ</a>
	{% else %}

	{% endif %}
{% endblock article %}

{% block author %}
	{% if article.author != None %} 
		<div class="b-sub-page-article-author">
			<h3 class="b-sub-page-article-author__header">Автор</h3>
								
			<div class="b-sub-page-article-author__image-wrap">
				<img src="{{ article.author.image.url }}" alt="{{ article.author }}" class="b-sub-page-article-author__image">
			</div>
			<div class="b-sub-page-article-author__image-signature">{{ article.author.name }}<br>{{ article.author.surname|upper }}</div>
			<div class="b-sub-page-article-author__articles">СТАТЬИ АВТОРА<br>(всего на сайте {{ author_articles_count }} стат{{ author_articles_count|rupluralize:"ья,ьи,ей" }})</div>
			{% for author_article in author_articles %} 
				<div class="b-sub-page-article-author__article"><a href="{% url 'articles:article' author_article.slug %}" class="b-sub-page-article-author__link">{{ author_article.title }}</a></div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock author %}

{% block articles %}
	<div class="b-articles b-articles--indent-top-100">
		{% for article in more_articles %}
			<a href="{% url 'articles:article' article.slug %}" class="b-article b-article--i2">
				<div class="b-article__image-wrap-300"><img src="{{ article.image.url }}" class="b-article__image" alt="{{ article.title }}"></div>
				<h2 class="b-article__header">{{ article.title }}</h2>
				<div class="b-article__info">
					<div class="b-article__date">{{ article.created|date:"d E H:i" }}</div>
					<div class="b-article__views">{{ article.views }}</div>
					<div class="b-article__author">Автор: {{ article.author.name }} {{ article.author.surname }}</div>
				</div>
				<div class="b-article__text">{{ article.fulltext|no_image|truncatewords_html:20|safe }}</div>
			</a>
		{% endfor %}
	</div>
{% endblock articles %}

{% block best-week-articles %}
	<div class="b-footer-week">
		<h1 class="b-footer-week__header"><span class="b-footer-week__header-text">ПОПУЛЯРНОЕ ЗА НЕДЕЛЮ</span></h1>
		<ul class="b-footer-week__articles">
			{% for article in best_week_articles %}
				<li class="b-footer-week__article">
					{% if article.category == 'article' %}
						<a href="{% url 'articles:article' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					{% if article.category == 'news' %}
						<a href="{% url 'articles:new' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					</a>
				</li>
			{% empty %}
				<li class="b-footer-week__article">Пока нет статей</li>
			{% endfor %}
		</ul>
	</div>
{% endblock best-week-articles %}

{% block random-author %}
	<div class="b-footer-author">
		<h1 class="b-footer-author__header"><span class="b-footer-author__header-text">АВТОРЫ</span></h1>
		{% if random_author != None %}
			<a href="{% url 'articles:author' random_author.slug %}" class="b-footer-author__link">
				<img src="{{ random_author.image.url }}" alt="{{ random_author }}" class="b-footer-author__image">
				<div class="b-footer-author__text">{{ random_author.name }}<br>{{ random_author.surname|upper }}</div>
			</a>
		{% else %}
			<div class="b-footer-author__link">Авторов нет</div>
		{% endif %}
	</div>
{% endblock random-author %}

{% block last-comments %}
	<div class="b-footer-comments">
		<h1 class="b-footer-comments__header"><span class="b-footer-comments__header-text">ПОСЛЕДНИЕ КОММЕНТАРИИ </span></h1>
		<ul class="b-footer-comments__articles">
			{% for comment in last_comments %}
				<li class="b-footer-comments__article">
					{% if comment.article.category == 'article' %}
						<a href="{% url 'articles:article' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
					{% if comment.article.category == 'news' %}
						<a href="{% url 'articles:new' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
						{{ comment.article.title_short }}
						<span class="b-footer-comments__comment" title="{{ comment.content }}"><span class="b-footer-comments__comment-text">{{ comment.content_short }}</span></span>
					</a>
				</li>
			{% empty %}
				<li class="b-footer-comments__article">Комментариев нет</li>
			{% endfor %}		
		</ul>
	</div>
{% endblock last-comments %}

{% block random_authors %}
	<div class="b-author">
		<h1 class="b-author__header"><span class="b-author__header-text">АВТОРЫ</span></h1>
		<div class="b-author-wrap">
			{% for author in random_authors %}
				<a href="{% url 'articles:author' author.slug %}" class="b-author__link">
					<div class="b-author__image-wrap"><img src="{{ author.image.url }}" alt="{{ author }}" class="b-author__image"></div>
					<div class="b-author__text">{{ author.name }}<br>{{ author.surname|upper }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock random_authors %}

{% block scripts %}
	<script>
		function check_count() {
			$.ajax({
				url: "/ajax/articles-count/article",
				context: document.body,
				success: function(html){
					if (Number(html) == ($('.b-articles .b-article').length + 1)) {
						$(".b-button.b-button--load").addClass("b-button--disable");
					} else {
						$(".b-button.b-button--load").removeClass("b-button--disable");
					}
				}
			});    
		}
	
		$(".b-button.b-button--load").click(function () {
			start = $('.b-articles .b-article').length
			$.ajax({
				url: "/ajax/article/{{ article.id }}/" + start,
				context: document.body,
				success: function(html){
					$(".b-articles").append(html)
					check_count()
				}
			})
		})
		check_count()
	</script>
{% endblock scripts %}