{% load static %}
<html>
<head>
	{% include "block_head.html" %}
</head>
<body>
	<div class="b-main-wrapper">
		{% include "block_logo.html" %}
		{% include "block_menu_top.html" %}
		<div class="b-content">
			<div class="b-content-full">
				<div class="b-sub-page-articles">
					<h1 class="b-sub-page-articles__header">
						<span class="b-sub-page-articles__header-double-text">ИРКУТСКИЕ КУЛУАРЫ</span>
						<span class="b-sub-page-articles__header-double-subtext">ОБЩЕСТВЕННО-ПОЛИТИЧЕСКИЙ ЖУРНАЛ</span>
					</h1>
				</div>	
				<div class="b-sub-page-articles b-sub-page-articles--left">
					<div class="b-sub-page-article">
						<div class="b-sub-page-article-content b-sub-page-article-content--left">
							{% block quote %}{% endblock quote %}
							{% block article %}{% endblock article %}
							{% block comments %}{% endblock comments %}
							{% block earlier %}{% endblock earlier %}
						</div>
						{% block author %}{% endblock author %}
					</div>
					{% block articles %}{% endblock articles %}
				</div>
				<div class="b-sub-page-articles b-sub-page-articles--right">
					{% block journal %}{% endblock journal %}
				</div>
				<div class="b-sub-page-journals">
					<h1 class="b-sub-page-journals__header"><span class="b-sub-page-journals__header-text">АРХИВ НОМЕРОВ</span></h1>
					{% block journals %}{% endblock journals %}
				</div>	
			</div>
		</div>
	</div>
	<div class="b-footer">
		<div class="b-footer__wrapper">
			<div class="b-to-top"></div>
			<div class="b-footer-articles">
				{% block best-week-articles %}{% endblock best-week-articles %}
				{% block random-author %}{% endblock random-author %}
				{% block last-comments %}{% endblock last-comments %}
			</div>
			{% include "block_footer.html" %}
		</div>
	</div>
	{% block comment_add %}{% endblock comment_add %}
</body>
</html>