{% extends "page_main.html" %}

{% block main-page-articles %}
    {% for article in articles %}
		<div class="b-main-page-article">
			<img src="{{ article.image.url }}" class="b-main-page-article__image" alt="{{ article.title }}">
			<a href="{% url 'articles:article' article.slug %}" class="b-main-page-article__link">{{ article.title }}</a>
		</div>
    {% empty %}
		<h3></h3>
    {% endfor %}
{% endblock main-page-articles %}

{% block main-page-news %}
	{% for new in news %}				
		<a href="{% url 'articles:new' new.slug %}" class="b-article b-article--i2">
			<div class="b-article__image-wrap-200"><img src="{{ new.image.url }}" class="b-article__image" alt="{{ new.title }}"></div>
			<h2 class="b-article__header">{{ new.title }}</h2>
			<div class="b-article__info">
				<div class="b-article__date">{{ new.created|date:"d E H:i" }}</div>
				<div class="b-article__views">{{ new.views }}</div>
				{% if new.author %}
					<div class="b-article__author">Автор: {{ new.author.name }} {{ new.author.surname }}</div>
				{% endif %}
			</div>
		</a>
	{% empty %}
		<h3></h3>
	{% endfor %}				
{% endblock main-page-news %}