{% extends "page_news.html" %}
{% load pluralize %}

{% block new %}
	{% if new != None %}
		<h2 class="b-sub-page-article-content__header">{{ new.title }}</h2>
		<div class="b-sub-page-article-content__info">
			<div class="b-sub-page-article-content__info-date">{{ new.created|date:"d E H:i" }}</div>
			<div class="b-sub-page-article-content__info-views">{{ new.views }}</div>
			{% if new.author != None %}
				<div class="b-sub-page-article-content__info-author">{{ new.author.name }} {{ new.author.surname }}</div>
			{% endif %}
		</div> 
		<div class="b-sub-page-article-content__image-wrap">
			<img src="{{ new.image.url }}" class="b-sub-page-article-content__image" alt="{{ new.title }}">
		</div>
		<div class="b-sub-page-article-content__image-signature">{{ new.image_signature }}</div>
		<div class="b-sub-page-article-content__text">{{ new.fulltext|safe }}</div>
		<ul class="b-sub-page-tag-cloud">
			{% for tag in new.tags.all %}
				<li class="b-sub-page-tag-cloud__item"><a href="{% url 'articles:tag' tag.slug %}" class="b-sub-page-tag-cloud__link">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock new %}

{% block comments %}
	{% if new != None %}
		<a class="b-sub-page-article-content__button" data-fancybox data-src="#comment-add" href="javascript:;">КОММЕНТИРОВАТЬ</a>
		{% for comment in comments %}  
			{% with comments.count as total_comments %}  
				{% if forloop.counter == 1 %}
					<h2 class="comment-header">  
						{{ total_comments }} Коментари{{ total_comments|rupluralize:"й,я,ев" }}: 
					</h2>  
				{% endif %}
			{% endwith %}
			<div class="comment" id="commnet-{{ comment.id }}">  
				<div class="comment__number">{{ forloop.counter }}</div><div class="comment__name">{{ comment.name }}</div><div class="comment__created">({{ comment.created|date:"d.m.Y H:i" }})</div> 
				<div class="clearfix"></div>
				<div class="comment__content">{{ comment.content|linebreaks }} </div>
			</div>  
		{% empty %}  
			<h2 class="comment-header">  
				Еще нет комментариев.
			</h2>
		{% endfor %}
	{% endif %}
{% endblock comments %}

{% block comment_add %}
	<div class="modal" id="comment-add">
		{% if new_comment %}  
			<h3 class="modal-header">Ваш комментарий добавлен!</h3>  
		{% else %}  
			<h3 class="modal-header">Новый комментарий</h3>  
			<form action="." method="post">  
				{{ comment_form.as_p }}  
				{% csrf_token %}  
				<button>Добавить комментарий</button>
			</form>
		{% endif %}
	</div>
{% endblock comment_add %}

{% block earlier %}
	{% if earlier|first != None %}  
		<h2 class="b-sub-page-earlier-topics__header">Ранее на эту тему:</h2> 
		<ul class="b-sub-page-earlier-topics__list">
			{% for article in earlier %}
				{% if article.category == 'article' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:article' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
				
				{% if article.category == 'news' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:new' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
			{% empty %}
			{% endfor %}
		</ul>
	{% endif %}
{% endblock earlier %}

{% block news %}
	<div class="b-articles b-articles--indent-top-100">
		{% for new in more_news %}
			<a href="{% url 'articles:new' new.slug %}" class="b-article b-article--i3">
				<div class="b-article__image-wrap-200"><img src="{{ new.image.url }}" class="b-article__image" alt="{{ new.title }}"></div>
				<h2 class="b-article__header">{{ new.title }}</h2>
				<div class="b-article__info">
					<div class="b-article__date">{{ new.created|date:"d E H:i" }}</div>
					<div class="b-article__views">{{ new.views }}</div>
					{% if new.author %}
						<div class="b-article__author">Автор: {{ new.author.name }} {{ new.author.surname }}</div>
					{% endif %}
				</div>
				<div class="b-article__text">{{ new.fulltext|no_image|truncatewords_html:20|safe }}</div>
			</a>
		{% endfor %}
	</div>
{% endblock news %}

{% block news_main %}
	{% if important != None %}
		<div class="b-sub-page-news-main">
			<h3 class="b-sub-page-news-main__header">Главное</h3>
			{% for new in important %}
				<a href="{% url 'articles:new' new.slug %}" class="b-article">
					<div class="b-article__image-wrap-200"><img src="{{ new.image.url }}" class="b-article__image" alt="{{ new.title }}"></div>
					<h2 class="b-article__header">{{ new.title }}</h2>
					<div class="b-article__info">
						<div class="b-article__date">{{ new.created|date:"d E H:i" }}</div>
						<div class="b-article__views">{{ new.views }}</div>
						{% if new.author %}
							<div class="b-article__author">Автор: {{ new.author.name }} {{ new.author.surname }}</div>
						{% endif %}
					</div>
					<div class="b-article__text">{{ new.fulltext|no_image|truncatewords_html:20|safe }}</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock news_main %}

{% block best-week-articles %}
	<div class="b-footer-week">
		<h1 class="b-footer-week__header"><span class="b-footer-week__header-text">ПОПУЛЯРНОЕ ЗА НЕДЕЛЮ</span></h1>
		<ul class="b-footer-week__articles">
			{% for article in best_week_articles %}
				<li class="b-footer-week__article">
					{% if article.category == 'article' %}
						<a href="{% url 'articles:article' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					{% if article.category == 'news' %}
						<a href="{% url 'articles:new' article.slug %}" class="b-footer-week__link">{{ article.title }}</a>
					{% endif %}
					</a>
				</li>
			{% empty %}
				<li class="b-footer-week__article">Пока нет статей</li>
			{% endfor %}
		</ul>
	</div>
{% endblock best-week-articles %}

{% block random-author %}
	<div class="b-footer-author">
		<h1 class="b-footer-author__header"><span class="b-footer-author__header-text">АВТОРЫ</span></h1>
		{% if random_author != None %}
			<a href="{% url 'articles:author' random_author.slug %}" class="b-footer-author__link">
				<img src="{{ random_author.image.url }}" alt="{{ random_author }}" class="b-footer-author__image">
				<div class="b-footer-author__text">{{ random_author.name }}<br>{{ random_author.surname|upper }}</div>
			</a>
		{% else %}
			<div class="b-footer-author__link">Авторов нет</div>
		{% endif %}
	</div>
{% endblock random-author %}

{% block last-comments %}
	<div class="b-footer-comments">
		<h1 class="b-footer-comments__header"><span class="b-footer-comments__header-text">ПОСЛЕДНИЕ КОММЕНТАРИИ </span></h1>
		<ul class="b-footer-comments__articles">
			{% for comment in last_comments %}
				<li class="b-footer-comments__article">
					{% if comment.article.category == 'article' %}
						<a href="{% url 'articles:article' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
					{% if comment.article.category == 'news' %}
						<a href="{% url 'articles:new' comment.article.slug %}#commnet-{{ comment.id }}" class="b-footer-comments__link">
					{% endif %}
						{{ comment.article.title_short }}
						<span class="b-footer-comments__comment" title="{{ comment.content }}"><span class="b-footer-comments__comment-text">{{ comment.content_short }}</span></span>
					</a>
				</li>
			{% empty %}
				<li class="b-footer-comments__article">Комментариев нет</li>
			{% endfor %}		
		</ul>
	</div>
{% endblock last-comments %}

{% block random_authors %}
	<div class="b-author">
		<h1 class="b-author__header"><span class="b-author__header-text">АВТОРЫ</span></h1>
		<div class="b-author-wrap">
			{% for author in random_authors %}
				<a href="{% url 'articles:author' author.slug %}" class="b-author__link">
					<div class="b-author__image-wrap"><img src="{{ author.image.url }}" alt="{{ author }}" class="b-author__image"></div>
					<div class="b-author__text">{{ author.name }}<br>{{ author.surname|upper }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock random_authors %}