{% extends "page_news.html" %}
{% load pluralize %}

{% block new %}
	{% if new != None %}
		<h2 class="b-sub-page-article-content__header">{{ new.title }}</h2>
		<div class="b-sub-page-article-content__info">
			<div class="b-sub-page-article-content__info-date">{{ new.created|date:"d E H:i" }}</div>
			<div class="b-sub-page-article-content__info-views">{{ new.views }}</div>
			{% if new.author != None %}
				<div class="b-sub-page-article-content__info-author">{{ new.author.name }} {{ new.author.surname }}</div>
			{% endif %}
		</div> 
		<div class="b-sub-page-article-content__image-wrap">
			<img src="{{ new.image.url }}" class="b-sub-page-article-content__image" alt="{{ new.title }}">
		</div>
		<div class="b-sub-page-article-content__image-signature">{{ new.image_signature }}</div>
		<div class="b-sub-page-article-content__text">{{ new.fulltext|safe }}</div>
		<ul class="b-sub-page-tag-cloud">
			{% for tag in new.tags.all %}
				<li class="b-sub-page-tag-cloud__item"><a href="{% url 'articles:tag' tag.slug %}" class="b-sub-page-tag-cloud__link">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock new %}

{% block comments %}
	{% if new != None %}
		<a class="b-sub-page-article-content__button" data-fancybox data-src="#comment-add" href="javascript:;">КОММЕНТИРОВАТЬ</a>
		{% for comment in comments %}  
			{% with comments.count as total_comments %}  
				{% if forloop.counter == 1 %}
					<h2 class="comment-header">  
						{{ total_comments }} Коментари{{ total_comments|rupluralize:"й,я,ев" }}: 
					</h2>  
				{% endif %}
			{% endwith %}
			<div class="comment" id="commnet-{{ comment.id }}">  
				<div class="comment__number">{{ forloop.counter }}</div><div class="comment__name">{{ comment.name }}</div><div class="comment__created">({{ comment.created|date:"d.m.Y H:i" }})</div> 
				<div class="clearfix"></div>
				<div class="comment__content">{{ comment.content|linebreaks }} </div>
			</div>  
		{% empty %}  
			<h2 class="comment-header">  
				Еще нет комментариев.
			</h2>
		{% endfor %}
	{% endif %}
{% endblock comments %}

{% block comment_add %}
	<div class="modal" id="comment-add">
		{% if new_comment %}  
			<h3 class="modal-header">Ваш комментарий добавлен!</h3>  
		{% else %}  
			<h3 class="modal-header">Новый комментарий</h3>  
			<form action="." method="post">  
				{{ comment_form.as_p }}  
				{% csrf_token %}  
				<button>Добавить комментарий</button>
			</form>
		{% endif %}
	</div>
{% endblock comment_add %}

{% block earlier %}
	{% if earlier|first != None %}  
		<h2 class="b-sub-page-earlier-topics__header">Ранее на эту тему:</h2> 
		<ul class="b-sub-page-earlier-topics__list">
			{% for article in earlier %}
				{% if article.category == 'article' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:article' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
				
				{% if article.category == 'news' %}
					<li class="b-sub-page-earlier-topics__item"><a href="{% url 'articles:new' article.slug %}" class="b-sub-page-earlier-topics__link">{{ article.title }}</a></li>
				{% endif %}
			{% empty %}
			{% endfor %}
		</ul>
	{% endif %}
{% endblock earlier %}

{% block news_main %}
	{% if important != None %}
		<div class="b-sub-page-news-main">
			<h3 class="b-sub-page-news-main__header">Главное</h3>
			{% for new in important %}
				<a href="{% url 'articles:new' new.slug %}" class="b-article">
					<div class="b-article__image-wrap-200"><img src="{{ new.image.url }}" class="b-article__image" alt="{{ new.title }}"></div>
					<h2 class="b-article__header">{{ new.title }}</h2>
					<div class="b-article__info">
						<div class="b-article__date">{{ new.created|date:"d E H:i" }}</div>
						<div class="b-article__views">{{ new.views }}</div>
						{% if new.author %}
							<div class="b-article__author">Автор: {{ new.author.name }} {{ new.author.surname }}</div>
						{% endif %}
					</div>
					<div class="b-article__text">{{ new.fulltext|no_image|truncatewords_html:20|safe }}</div>
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock news_main %}

{% block news %}
	<div class="b-articles b-articles--indent-top-100">
		{% for new in more_news %}
			<a href="{% url 'articles:new' new.slug %}" class="b-article b-article--i3">
				<div class="b-article__image-wrap-200"><img src="{{ new.image.url }}" class="b-article__image" alt="{{ new.title }}"></div>
				<h2 class="b-article__header">{{ new.title }}</h2>
				<div class="b-article__info">
					<div class="b-article__date">{{ new.created|date:"d E H:i" }}</div>
					<div class="b-article__views">{{ new.views }}</div>
					{% if new.author %}
						<div class="b-article__author">Автор: {{ new.author.name }} {{ new.author.surname }}</div>
					{% endif %}
				</div>
				<div class="b-article__text">{{ new.fulltext|no_image|truncatewords_html:20|safe }}</div>
			</a>
		{% endfor %}
	</div>
{% endblock news %}

{% block scripts %}
	<script>
		function check_count() {
			$.ajax({
				url: "/ajax/articles-count/news",
				context: document.body,
				success: function(html){
					if (Number(html) == ($('.b-articles .b-article').length + 1)) {
						$(".b-button.b-button--load").addClass("b-button--disable");
					} else {
						$(".b-button.b-button--load").removeClass("b-button--disable");
					}
				}
			});    
		}
	
		$(".b-button.b-button--load").click(function () {
			start = $('.b-articles .b-article').length
			console.log(start)
			$.ajax({
				url: "/ajax/news/{{ new.id }}/" + start,
				context: document.body,
				success: function(html){
					$(".b-articles").append(html)
					check_count()
				}
			})
		})
		check_count()
	</script>
{% endblock scripts %}