{% extends "page_tags.html" %}
{% load pluralize %}

{% block abc %}
	<ul class="b-abc">
		<li class="b-abc__item b-abc__all" data-word="all">ВСЕ</li>
		<li class="b-abc__item b-abc__sep">|</li>
		{% for tag in abc %}
			<li class="b-abc__item b-abc__word-disable" data-word="{{ tag|lower }}">{{ tag|upper }}</li>
		{% endfor %}
	</ul>
{% endblock abc %}

{% block tags %}
	<ul class="b-tags__list">				
		{% for tag in tags %}
			<li class="b-tags__list-item"><a href="{% url 'articles:tag' tag.slug %}" class="b-tags__list-link" data-word="{{ tag.name|slice:'1'|lower }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>		
{% endblock tags %}

{% block random_authors %}
	<div class="b-author">
		<h1 class="b-author__header"><span class="b-author__header-text">АВТОРЫ</span></h1>
		<div class="b-author-wrap">
			{% for author in random_authors %}
				<a href="{% url 'articles:author' author.slug %}" class="b-author__link">
					<div class="b-author__image-wrap"><img src="{{ author.image.url }}" alt="{{ author }}" class="b-author__image"></div>
					<div class="b-author__text">{{ author.name }}<br>{{ author.surname|upper }}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock random_authors %}